@model EditVehicleViewModel
@{
    ViewData["Title"] = "Edit Your Vehicle";
}

<h2>Edit Your Vehicle</h2>

<div class="row">
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.VehicleDescription"></label>
            <textarea asp-for="VehicleDescription"></textarea>
        </div>
    </form>
</div>