@model IEnumerable<Vehicle>;

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = UserManager.GetUserName(User) + " cars";
}

<h1>@UserManager.GetUserName(User)'s Garage</h1>
<p>Welcome to your garage</p>
@Html.Partial("../Home/_TopVehiclesPartial")
