@model IEnumerable<VehicleOverviewViewModel>;

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = $"{UserManager.GetUserName(User)}'s garage";
}

<div class="row">
<h2>@ViewBag.Title</h2>
<h3>Welcome to your garage!</h3>
<p>
    <a asp-controller="Garage" asp-action="AddVehicle" class="btn btn-default">Add a new Vehicle</a>
</p>
</div>

@Html.Partial("../Home/_VehicleOverviewPartial", Model)