@model IEnumerable<Vehicle>;

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = $"{UserManager.GetUserName(User)}'s garage";
}

<h1>@ViewBag.Title</h1>
<h2>Welcome to your garage!</h2>
<p>
    <a asp-controller="Garage" asp-action="AddVehicle" class="btn btn-default">Add a new Vehicle</a>
</p>
@Html.Partial("../Home/_TopVehiclesPartial")
