@model IEnumerable<Vehicle>;

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = UserManager.GetUserName(User) + " cars";
}

<h1>@UserManager.GetUserName(User)'s Garage</h1>
<p>Welcome to your garage!</p>
<p>
    <a asp-controller="Garage" asp-action="AddVehicle">Add a new Vehicle</a>
</p>
@Html.Partial("../Home/_TopVehiclesPartial")
