@model IEnumerable<Vehicle>;

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = UserManager.GetUserName(User) + " cars";
}

<h1>@UserManager.GetUserName(User)'s cars</h1>

@Html.Partial("../Home/_TopVehiclesPartial")
