@model IEnumerable<VehicleOverviewViewModel>;

@{
    ViewData["Title"] = "Home";
}

<h2>
    Welcome to the unofficial registry for the @ViewData["VehiclePlatform"] platform.
</h2>
@Html.Partial("../Home/_VehicleOverviewPartial")