@model IEnumerable<VehicleOverviewViewModel>;

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <h3>
        Welcome to the unofficial registry for the @ViewData["VehiclePlatform"] platform.
    </h3>
</div>

@Html.Partial("../Home/_VehicleOverviewPartial")