@{
    ViewData["Title"] = "About";
}
<h2>So what is GT86 Registry?</h2>
<p>GT86Registry.com was created by a car enthusiast who imagined a website dedicated to preserving and documenting information about the GT86 platform. This site allows GT86 owners to register their vehicle in our registry, thus preserving the history of their GT86.</p>