@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-12">
        <h1>What is @SiteSettings.Value.VehiclePlatform Registry?</h1>
        <p>@{@SiteSettings.Value.Name}.com was created by a car enthusiast who imagined a website dedicated to preserving and documenting information about the @SiteSettings.Value.VehiclePlatform platform. This site allows @SiteSettings.Value.VehiclePlatform owners to register their vehicle in our registry, thus preserving the history of their @SiteSettings.Value.VehiclePlatform.</p>
    </div>
</div>