@model UserProfileViewModel

@{
    ViewData["Title"] = $"{Model.VehicleOwner.UserName} Profile";
}

<p>@Model.VehicleOwner.UserName's Profile</p>
@Html.Partial("../Home/_VehicleOverviewPartial", Model.OwnerVehicles)